// app global css in SCSS form

// LAYOUT

.body--dark {
  background-color: $dark;
}

@media only screen and (max-width: 420px) {
  .tamano-letra {
    font-size: 15px;
  }
}

.my-menu-page {
  color: $blue-6;
}

.no-underline {
  text-decoration: none;
  color: white;
}
.no-underline:hover {
  color: $blue-6;
}

.layout-bg-light {
  background-color: $blue-10;
}

.layout-bg-dark {
  background-color: $dark;
}

// INDEX

.my-card-light {
  width: 200px;
  min-height: 200px;
  border: solid $grey-7;
  border-width: thin;
  border-radius: 10px;
  background-color: $grey-5;
  color: black;
}

.my-card-dark {
  width: 200px;
  min-height: 200px;
  border: solid #151414f7;
  border-width: thin;
  border-radius: 10px;
  background-color: $grey-10;
}

// INDEX & FAVORITE

@media only screen and (max-width: 512px) {
  .justify-center-sm {
    justify-content: center !important;
  }
}

// GAME

.my-card-game {
  width: 240px;
  height: 250px;
  border: solid #151414f7;
  border-width: thin;
  border-radius: 10px;
}

.hidden-pokemon {
  filter: brightness(0);
  user-select: none; /* Evita la selección de texto al arrastrar */
  pointer-events: none; /* Evita la interacción con la imagen */
}
.no-underline {
  text-decoration: none;
}

.efecto-name-light:hover {
  cursor: pointer;
  background-color: $blue-10;
  color: white;
}
.efecto-name-light {
  background-color: $grey-5;
}

.efecto-name-dark:hover {
  cursor: pointer;
  background-color: $blue-4;
  color: black;
}
.efecto-name-dark {
  background-color: $grey-9;
}

// POKE PAGE

.borde {
  border-radius: 10px;
}

.poke-card-light {
  height: 550px;
  border: solid $grey-7;
  border-width: thin;
  border-radius: 10px;
  background-color: $grey-4;
}

.poke-card-dark {
  height: 550px;
  background-color: $dark;
}

.poke-border {
  border: solid $blue-9;
  border-radius: 10px;
}

// FILTRO REGION

.text-filtro-region {
  color: white;
  font-weight: 700;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(0, 170, 255),
    rgb(34, 207, 34)
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.region {
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 20px;
  background: linear-gradient(
    to top,
    rgb(229, 232, 236),
    var(--background-color)
  );
}
.kanto {
  --background-color: rgb(224, 92, 100);
}

.johto {
  --background-color: rgb(4, 146, 209);
}

.hoenn {
  --background-color: rgb(248, 201, 14);
}

.sinnoh {
  --background-color: rgb(67, 167, 86);
}

.teselia {
  --background-color: rgb(207, 36, 108);
}

.region:hover {
  background: var(--background-color);
  cursor: pointer;
}

// CARD POKE

.shadow:hover {
  box-shadow: 0px 0px 20px 10px rgba(41, 222, 28, 0.2);
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

// CARD INFO POKE

.pokefav {
  width: 25px;
  aspect-ratio: 4/4;
  object-fit: contain;
}

// CARD IMG POKE

.pokeball {
  width: 50px;
  height: 50px;
}
